#nomeProjeto {
    color: whitesmoke;
    font-family: fonteNomeProjeto;
}
@font-face {
    font-family: fonteNomeProjeto;
    src: url(../enixe/Enixe.otf);
}

body {
    background: #233b60;
    width: 100%;
    height: 100vh;

}


