<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" href="./styles/style_geral.css">
    <script src="./scripts/jquery-3.6.0.js"></script>
    <script src="./scripts/comunicaApiProfessor.js"></script>
    <script src="./scripts/script.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Satisfation Survey</title>
</head>

<body id="corpo">
    <nav class="navbar is-info">
        <div class="navbar-item">
            <div class="field is-grouped">
                <span id="nomeProjeto" onclick="easteregg()">Satisfaction Survey</span>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary" onclick="logout()">
                            <span>
                                Sair
                            </span>
                            <span class="icon">
                                <i class="fas fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </nav>

    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="modal-dialog modal-lg" style="max-width: 100%;">
                    <div class="modal-content">
                        <div class="modal-body">

                            <form name="formulario" class="form" autocomplete="off">
                                <h3>
                                    <center> Avaliações</center>
                                </h3>

                                <div class="form-group">

                                    <p>
                                        <label>Filtrar por Disciplina:</label>
                                        <select id="filtroDisciplina" class="form-control"
                                            onchange="listarAvaliacaoPorDisciplina()">
                                            <option value="0">Selecione uma Disciplina....</option>
                                        </select>
                                    </p>

                                </div>

                                <form name="formulario" autocomplete="off">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Discipina</th>
                                                <th>Notas</th>
                                                <th>Comentário</th>
                                                <th>Visualisar</th>
                                                <th>Excluir</th>
                                            </tr>
                                        </thead>
                                        <tbody id="grid">

                                        </tbody>
                                    </table>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>